        <div class="container container-header">
             <div class="header-left">
                <div class="logo">
                    <img src="../../img/icon/logo-2.svg" alt="logo" class="logo__img">
                </div>
                <div class="meta-info">
                    <div class="location-info">Микрорайон «Северный»</div>
                    <time class="update-time">Обновлено: 14:23:45</time>
                </div>
             </div>
            <div class="header-ridth">
                <div class="status-active">
                    <div class="circle-status"></div>
                    <span>Система активна</span>
                </div>
                <search>
                    <form action="/search" class="form-search">
                        <img src="../../img/icon/search.svg" alt="search" class="form-search__img">
                        <input placeholder="Поиск по адресу..." type="search" class="form-search__input">
                    </form>
                </search>
                <button type="button" class="update-data">          
                    <img src="../../img/icon/update.svg" alt="update" class="update-data__img">
                    <span>Обновить данные</span>
                </button>
                <div class="settings">
                    <div class="settings__link">
                        <img src="../../img/icon/settings-2.svg" alt="settings" class="settings__img">
                    </div>
                </div>
                <div class="current-user">
                    <img src="../../img/all/user.jpg" alt="user" class="current-user__img">
                    <div class="current-user__content">
                        <div class="current-user__title">Иванова А.П.</div>
                        <div class="current-user__role">Диспетчер</div>
                    </div>
                </div>
            </div>
        </div>