        <div class="container container-header-navigation">
            <nav class="menu">
                <ul class="list-menu">
                    <li class="list-menu__item"><a href="index.html" class="list-menu__link">Мониторинг</a></li>
                    <li class="list-menu__item"><a href="../../risk-dashboard.html" class="list-menu__link">Прогноз</a></li>
                    <li class="list-menu__item"><a href="../../journal.html" class="list-menu__link">Журнал работ</a></li>
                </ul>
            </nav>
            <div class="weather">
                <div class="weather__item temperature" id="temperature"></div>
                <div class="weather__item condition" id="condition"></div>
                <div class="weather__item humidity" id="humidity"></div>
                <div class="weather__item precipitation" id="precipitation"></div>
                <div class="weather__item wind-speed" id="wind-speed"></div>
            </div>
        </div>


