<div class="modal-confirm modal-card-event-2">
    <div class="modal-confirm-container">
        <div class="modal-confirm-content">
            <div class="modal-confirm-header modal-confirm-header--risk">
                <div class="modal-confirm-header__text">Карточка события</div>
                <div class="modal-confirm-header__close">
                    <img src="/static/img/icon/close-line.svg" alt="Закрыть" class="modal-confirm-header__img" title="Закрыть">
                </div>
            </div>
            <div class="modal-event-house">
                <div class="modal-event-house-group">
                    <img src="/static/img/icon/marker.svg" alt="адрес" class="modal-event-house-group__img">
                    <div class="modal-event-house-group__text">Дом, №4, ул. Мира, 4</div>
                </div>
                <time datetime="" class="modal-event-house-group">
                    <img src="/static/img/icon/clock-2.svg" alt="адрес" class="modal-event-house-group__img">
                    <div class="modal-event-house-group__text">08:30</div>
                </time>
            </div>
            <div class="modal-card-event-title">Критическое падение T2</div>
            <div class="modal-card-event-text">Температура обратки 48.2°C</div>
            <div class="modal-card-event-text">Ниже критического уровня 55°C уже 45 минут</div>
            <div class="modal-card-event-status">Авария</div>
            <div class="modal-card-event-subtitle">Реакция по стандарту</div>
            <div class="modal-card-event-subtext">Инструкция действий №12345 от 01.02.2023</div>
            <div class="word-person">Смене: №142</div>
            <div class="modal-card-event-subtitle">Выполнить действия</div>
            <form action="" class="form-card-event">
                <input type="checkbox" name="event" class="form-card-event__input" id="event-5">
                <label for="event-5" class="form-card-event__label">Проверить клапан регулировки</label>
                <input type="checkbox" name="event" class="form-card-event__input" id="event-6">
                <label for="event-6" class="form-card-event__label">Измерить температура Т2</label>
                <input type="checkbox" name="event" class="form-card-event__input" id="event-7">
                <label for="event-7" class="form-card-event__label">Осмотреть на предмет утечек</label>
                <input type="checkbox" name="event" class="form-card-event__input" id="event-8">
                <label for="event-8" class="form-card-event__label">Сделать фотографии</label>
                <input type="checkbox" name="event" class="form-card-event__input" id="event-9">
                <label for="event-9" class="form-card-event__label">Подтвердить</label>
                <div class="form-card-event__text">Комментарий</div>
                <textarea name="comment" class="form-card-event__textarea" placeholder="Краткое описание"></textarea>
                <div class="form-card-event__text">Прикреплённые файлы</div>
                <input type="file" name="file" class="form-card-event__file" id="file">
                <label for="file" class="label-file"></label>
                <button type="button" class="btn-prymary btn-card-event btn-card-event--blue">
                    <img src="/static/img/icon/nav.svg" alt>
                    <span>Назначить задачу</span>
                </button>
            </form>
            <button type="button" class="btn-prymary btn-card-event btn-card-event--notification btn-card-event--green">
                <img src="/static/img/icon/key-3.svg" alt>
                <span>Дополнительно уведомить</span>
            </button>
        </div>
    </div>

</div>
