<div class="modal-confirm modal-risk" id="modal-settings-risk">
    <div class="modal-confirm-container">
        <div class="modal-confirm-content">
            <div class="modal-confirm-header modal-confirm-header--risk">
                <div class="modal-confirm-header__text">Настройка рисков</div>
                <div class="modal-confirm-header__close">
                    <img src="/static/img/icon/close-line.svg" alt="Закрыть" class="modal-confirm-header__img" title="Закрыть">
                </div>
            </div>
            <div class="training-info">
                <div class="training-date">Последнее обучение: 15.01.2025, 03:20</div>
                <div class="model-accuracy">Точность модели: 87.3%</div>
                <div class="accuracy-improvement">Улучшение точности: +2.8%</div>
            </div>
            <div class="title-risk">Уведомлять при отклонении более, чем:</div>
            <div class="risk-settings">
                <div class="risk-setting">
                    <input type="number" class="risk-input" placeholder="4">
                    <div class="risk-label">ХВС</div>
                </div>
                <div class="risk-setting">
                    <input type="number" class="risk-input" placeholder="12">
                    <div class="risk-label">ГВС</div>
                </div>
                <div class="risk-setting">
                    <input type="number" class="risk-input" placeholder="5">
                    <div class="risk-label">Подача</div>
                </div>
                <div class="risk-setting">
                    <input type="number" class="risk-input" placeholder="7">
                    <div class="risk-label">Обратка</div>
                </div>
                <div class="risk-setting">
                    <input type="number" class="risk-input" placeholder="8">
                    <div class="risk-label">Т1</div>
                </div>
                <div class="risk-setting">
                    <input type="number" class="risk-input" placeholder="4">
                    <div class="risk-label">Т2</div>
                </div>
            </div>
            <button class="risk-button btn-prymary">
                <img src="/static/img/icon/update-2.svg" alt="обновить" class="risk-button__img">
                <span>Обновить данные модели</span>
            </button>
        </div>
    </div>

</div>
