<div class="modal-confirm modal-confirm-open">
    <div class="modal-confirm-container">
        <div class="modal-confirm-content">
            <div class="modal-confirm-header">
                <div class="modal-confirm-header__text">Обновление данных модели</div>
                <div class="modal-confirm-header__close">
                    <img src="/static/img/icon/close-line.svg" alt="Закрыть" class="modal-confirm-header__img" title="Закрыть">
                </div>
            </div>
            <div class="modal-confirm-content__title">Подтверждение полномочий</div>
            <div class="signature-block">
                <div class="signature-label">Электронная подпись</div>
                <button class="signature-btn btn-prymary">
                    <img src="/static/img/icon/ep.svg" alt="Подписать" class="signature-btn__img">
                    <span>Подписать ЭП</span>
                </button>
            </div>
            <div class="signature-block">
                <div class="qr-auth-text">QR-авторизация</div>
                <div class="wrapper-qr-auth-instruction">
                    <img src="/static/img/all/qr.png" alt="QR" class="wrapper-qr-auth-instruction__img">
                    <div class="qr-auth-instruction">Отсканируйте QR-код</div>
                </div>
            </div>
            <div class="biometry-section signature-block">
                <div class="biometry-title">Биометрия</div>
                <button class="scan-button btn-prymary">
                    <img src="/static/img/icon/scan-2.svg" alt="сканировать" class="scan-button__img">
                    <span>Сканировать отпечаток</span>
                </button>
            </div>
        </div>
    </div>

</div>
