<div class="modal-confirm modal-new-incident">
    <div class="modal-confirm-container">
        <div class="modal-confirm-content">
            <div class="modal-confirm-header modal-confirm-header--risk">
                <div class="modal-confirm-header__text">Новый инцидент</div>
                <div class="modal-confirm-header__close">
                    <img src="img/icon/close-line.svg" alt="Закрыть" class="modal-confirm-header__img" title="Закрыть">
                </div>
            </div>
            <div class="modal-event-house">
                <div class="modal-event-house-group">
                    <img src="../../img/icon/marker.svg" alt="адрес" class="modal-event-house-group__img">
                    <div class="modal-event-house-group__text">Дом, №4, ул. Мира, 4</div>
                </div>
                <time datetime="" class="modal-event-house-group">
                    <img src="../../img/icon/clock-2.svg" alt="адрес" class="modal-event-house-group__img">
                    <div class="modal-event-house-group__text">08:30</div>
                </time>
            </div>
            <div class="modal-card-event-title">Критическое падение T2</div>
            <div class="modal-card-event-text">Температура обратки 48.2°C</div>
            <div class="modal-card-event-text">Ниже критического уровня 55°C уже 45 минут</div>
            <div class="modal-card-event-status">Авария</div>
            <div class="modal-card-event-subtitle">Реакция по стандарту</div>
            <div class="modal-card-event-subtext">Инструкция действий №12345 от 01.02.2023</div>
            <div class="word-person">Смене: №142</div>
            <div class="modal-card-event-subtitle">Выполнить действия</div>
            <form action="" class="form-card-event">
                <input type="checkbox" name="event" class="form-card-event__input" id="event-10">
                <label for="event-10" class="form-card-event__label">Проверить клапан регулировки</label>
                <input type="checkbox" name="event" class="form-card-event__input" id="event-11">
                <label for="event-11" class="form-card-event__label">Измерить температура Т2</label>
                <input type="checkbox" name="event" class="form-card-event__input" id="event-12">
                <label for="event-12" class="form-card-event__label">Осмотреть на предмет утечек</label>
                <input type="checkbox" name="event" class="form-card-event__input" id="event-13">
                <label for="event-13" class="form-card-event__label">Сделать фотографии</label>
                <input type="checkbox" name="event" class="form-card-event__input" id="event-14">
                <label for="event-14" class="form-card-event__label">Подтвердить</label>
                <button type="button" class="btn-prymary btn-card-event">Назначить задачу</button>
            </form>
            <button type="button" class="btn-prymary btn-card-event btn-card-event--notification">Дополнительно уведомить</button>
        </div>
    </div>
</div>