                    <output class="display-notification display-notification--active">
                        <img src="static/img/icon/notification.svg" alt="внимание" class="display-notification__img">
                        <div class="display-notification__content">
                            <div class="display-notification__title"></div>
                            <div class="display-notification__text"></div>
                            <button type="button" class="display-notification__btn">Создать инцидент</button>
                        </div>
                        <div class="notification-close">
                            <img src="static/img/icon/close.svg" alt="закрыть" title="закрыть">
                        </div>
                    </output>