{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaMonitor: умный мониторинг водопровода</title>
    <meta name="description" content="Цифровой мониторинг для раннего обнаружения аномалий и прогнозирования аварий." />
    <link rel="icon" type="image/png" href="{% static 'img/icon/favicon-2.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
</head>

<body>
    <div class="wrapper-main container">
        <header class="header" id="header-container"></header>
        <header class="header-navigation" id="header-navigation"></header>
        <section class="info-panel">
            <div class="container container-info-panel">
                <h1 class="main-title">Текущая ситуация в микрорайоне</h1>
                <div class="actions" id="actions"></div>
            </div>
        </section>
        <section class="metrics">
            <div class="container container-metrics">
                <div class="metrics-dashboard">
                    <div class="metric-card-group summary-card">
                        <div class="stat-item">
                            <div class="summary-card__title">Сводка за сутки</div>
                            <div class="summary-card-fillter">
                                <img src="{% static 'img/icon/fillter.svg' %}" alt="" class="summary-card-setting__img">
                            </div>
                        </div>
                        <div class="summary-card__stats">
                            <div class="stat-item">
                                <div class="stat-item__label">Всего аномалий:</div>
                                <div class="stat-item__value">12</div>
                            </div>
                            <div class="stat-item stat-item--high">
                                <div class="stat-item__label">Высокий приоритет:</div>
                                <div class="stat-item__value">4</div>
                            </div>
                            <div class="stat-item stat-item--medium">
                                <div class="stat-item__label">Средний приоритет:</div>
                                <div class="stat-item__value">6</div>
                            </div>
                            <div class="stat-item stat-item--low">
                                <div class="stat-item__label">Низкий приоритет:</div>
                                <div class="stat-item__value">2</div>
                            </div>
                        </div>
                    </div>
                    <div class="metric-card">
                        <div class="metric-card__title">Сводные численные показатели по МКР</div>
                        <div class="metric-card__content">
                            <div class="metric-card-group">
                                <div class="metric-card-group__title">Потребление ХВС</div>
                                <div class="metric-card-group__value">12345 м3</div>
                                <div class="metric-card-group__text">Данные по счётчикам</div>
                                <div class="inteddactor" data-value="75">
                                    <div class="inteddactor__track"><div class="inteddactor__level"></div></div>
                                </div>
                            </div>
                            <div class="metric-card-group">
                                <div class="metric-card-group__title">Потребление ГВС</div>
                                <div class="metric-card-group__value">12345 м3</div>
                                <div class="metric-card-group__text">Вход ↔ выход</div>
                                <div class="inteddactor" data-value="69">
                                    <div class="inteddactor__track"><div class="inteddactor__level"></div></div>
                                </div>
                            </div>
                            <div class="metric-card-group">
                                <div class="metric-card-group__title">ХВС ↔ ГВС</div>
                                <div class="metric-card-group__value">72 % / 12345 м3</div>
                                <div class="metric-card-group__text">Усредненные данные</div>
                                <div class="inteddactor" data-value="82">
                                    <div class="inteddactor__track"><div class="inteddactor__level"></div></div>
                                </div>
                            </div>
                            <div class="metric-card-group">
                                <div class="metric-card-group__title metric-card-group__title--warm">T1 ↔ T2</div>
                                <div class="metric-card-group__value metric-card-group__title--warm">56°C </div>
                                <div class="metric-card-group__text metric-card-group__title--warm">Качество подогрева ⚠</div>
                                <div class="inteddactor" data-value="56">
                                    <div class="inteddactor__track"><div class="inteddactor__level"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="layout">
            <div class="container container-layout">
                <div class="map-section">
                    <div class="svg-container" id="main-svg-container"></div>
                    <div class="wrapper-houses">
                        <div class="wrapper-houses__item">
                            <div class="wrapper-houses__header status-houses--normal">
                                <div class="wrapper-houses__text">№1 98&nbsp;кв</div>
                            </div>
                            <div class="wrapper-houses__body">
                                <div class="wrapper-houses__title">ул. Мира,</div>
                            </div>
                        </div>
                        <div class="wrapper-houses__item">
                            <div class="wrapper-houses__header status-houses--warning">
                                <div class="wrapper-houses__text">№2 120&nbsp;кв</div>
                            </div>
                            <div class="wrapper-houses__body">
                                <div class="wrapper-houses__title">ул. Мира,</div>
                            </div>
                        </div>
                        <div class="wrapper-houses__item">
                            <div class="wrapper-houses__header status-houses--warning">
                                <div class="wrapper-houses__text">№3 85&nbsp;кв</div>
                            </div>
                            <div class="wrapper-houses__body">
                                <div class="wrapper-houses__title">ул. Мира,</div>
                            </div>
                        </div>
                        <div class="wrapper-houses__item">
                            <div class="wrapper-houses__header status-houses--critical">
                                <div class="wrapper-houses__text">№4 75&nbsp;кв</div>
                            </div>
                            <div class="wrapper-houses__body">
                                <div class="wrapper-houses__title">ул. Мира,</div>
                            </div>
                        </div>
                        <div class="wrapper-houses__item">
                            <div class="wrapper-houses__header status-houses--warning">
                                <div class="wrapper-houses__text">№5 110&nbsp;кв</div>
                            </div>
                            <div class="wrapper-houses__body">
                                <div class="wrapper-houses__title">ул. Мира,</div>
                            </div>
                        </div>
                    </div>
                    <div id="notification"></div>
                    <div id="state-indicator"></div>
                    <div class="wrapper-map-controls">
                        <div class="map-controls">
                            <button class="map-controls__button map-controls__button--zoom-out" type="button">-</button>
                            <div class="map-controls__scale">25%</div>
                            <button class="map-controls__button map-controls__button--zoom-in" type="button">+</button>
                        </div>
                        <button type="button" class="btn-fullscreen">
                            <img src="{% static 'img/icon/fullscreen.svg' %}" alt="увеличить" class="btn-fullscreen__img">
                        </button>
                    </div>
                </div>
                <div class="houses-status">
                    <div class="houses-inner">
                        <div class="houses-inner__title">Статус по домам</div>
                        <div class="houses-inner-group">
                            <div class="fillter-houses-status houses-item">
                                <img src="{% static 'img/icon/fillter-2.svg' %}" alt="фильтр" class="fillter-houses-status__img">
                            </div>
                            <div class="enlarged-houses-status houses-item">
                                <img src="{% static 'img/icon/enlarged.svg' %}" alt="увеличить" class="enlarged-houses-status__img">
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-card" id="alerts-container"></div>
                </div>
            </div>
        </section>

        <div id="side-panel"></div>
        <div id="modal-confirm"></div>
        <div id="modal-risk"></div>
        <div id="modal-card-event"></div>
        <div id="modal-card-event-2"></div>
    </div>
    <script src="{% static 'js/loadComponents.js' %}"></script>
    <script src="{% static 'js/stateCard.js' %}"></script>
    <script src="{% static 'js/notificationHouses.js' %}"></script>
    <script src="{% static 'js/openModal.js' %}"></script>
    <script src="{% static 'js/mapFullscreen.js' %}"></script>
    <script src="{% static 'js/get-weather.js' %}"></script>    
    <script src="{% static 'js/inteddactor.js' %}"></script>
    <script src="{% static 'js/linkActive.js' %}"></script>
    <script src="{% static 'js/notificationFilter.js' %}"></script>
    <script src="{% static 'js/report.js' %}"></script>
</body>


</html>



