/*--- HEADER ---*/
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.35;
  border-bottom: 1px solid var(--bg-border);
  background-color: var(--bs-body-bg);
}

.logo {
  width: 102px;
}

.logo__img {
  width: 100%;
}

.logo__title {
  font-size: 16px;
  color: var(--bs-body-bg);
}

.meta-info {
  display: flex;
  color: var(--bs-body-color);
  font-size: 14px;
}

.location-info {
  box-sizing: border-box;
  padding: 0 6px 0 0;
}

.update-time {
  box-sizing: border-box;
  padding: 0 0 0 6px;
  border-left: 1px solid var(--bs-body-color);
}

.status-active {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--bs-success);
}

.circle-status {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin: 0 8px 0 0;
  background-color: var(--bs-success);
}

.form-search {
  position: relative;
  background-color: var(--bs-secondary-bg);
  border: 1px solid #d1d5db;
  border-radius: 8px 8px;
}

.form-search__img {
  position: absolute;
  left: 10px;
  top: 7px;
}

.form-search__input {
  width: 100%;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px 10px 10px 35px;
  border-radius: 8px 8px;
  font-size: 14px;
  outline-color: rgba(37, 100, 235, 0.431372549);
}

.update-data {
  display: flex;
  align-items: center;
  font-size: 14px;
  background: var(--bs-secondary-bg);
  border-radius: 8px 8px;
  box-sizing: border-box;
  padding: 10px 16px;
  color: var(--bs-body-color);
  border: none;
  transition: background .2s ease-in-out;
  cursor: pointer;
}

.update-data:hover {
  background: color-mix(in srgb, var(--bs-secondary-bg) 90%, black);
}

.update-data__img {
  margin: 0 8px 0 0;
}

.settings {
  background: var(--bs-secondary-bg);
  box-sizing: border-box;
  padding: 8px 12px 4px 12px;
  color: var(--bs-body-color);
  border-radius: 8px 8px;
  cursor: pointer;
}

.settings:hover {
  background: color-mix(in srgb, var(--bs-secondary-bg) 90%, black);
}

.notification {
  cursor: pointer;
}

.current-user {
  display: flex;
  align-items: center;
}

.current-user__img {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.current-user__content {
  margin: 0 0 0 8px;
  font-size: 14px;
}

.current-user__title {
  color: var(--color-text);
}

.current-user__role {
  color: var(--color-secondary-text);
}

/*--- HEADER ---*/

/*--- HEADER-NAVIGATION ---*/

.container-header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  line-height: 1.35;
  border-bottom: 1px solid var(--bg-border);
  background-color: var(--bs-body-bg);
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.header-ridth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}

.list-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-menu__item:not(:last-child) {
  margin: 0 16px 0 0;
}

.list-menu__link {
  font-size: 14px;
  position: relative;
}


.list-menu__link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: var(--bs-primary);
  transition: width .25s ease-in-out;
  border-radius: 8px 8px;
}

.list-menu__link:hover::before {
  width: 100%;
}

.list-menu__link--active::before {
  width: 100%;
}

.weather {
  display: flex;
  font-size: 14px;
}

.weather__item:not(:last-child) {
  margin: 0 8px 0 0;
}

.temperature,
.condition,
.humidity,
.precipitation,
.wind-speed {
  position: relative;
  background: var(--bs-secondary-bg);
  border-radius: 100px 100px;
  box-sizing: border-box;
  padding: 6px 12px 6px 31px;
  color: var(--bs-body-color);
}

.condition {
  padding: 6px 12px 6px 12px;
}

.temperature {
  background: transparent;
  font-weight: 600;
  font-size: 16px;
}

.temperature::before,
.condition::before,
.humidity::before,
.precipitation::before,
.wind-speed::before {
  position: absolute;
  content: '';
  top: calc(50% - 8px);
  left: 12px;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.temperature::before {
  background-image: url(../img/icon/temperature.svg);
}

.humidity::before {
  background-image: url(../img/icon/humidity.svg);
}

.precipitation::before {
  background-image: url(../img/icon/precipitation.svg);
}

.wind-speed::before {
  background-image: url(../img/icon/wind-speed.svg);
}

/*--- HEADER-NAVIGATION ---*/