.metrics-dashboard {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--bg-border);
    box-sizing: border-box;
    padding: 16px 16px;
    border-radius: 12px;
}

.summary-card {
    width: 235px;
}

.stat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat-item:first-child {
    margin: 0 0 12px 0;
}

.stat-item:not(:last-child) {
    margin: 0 0 9px 0;
}

.summary-card__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-body-color);
}
.stat-item__label {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-secondary-text);
}

sup {
  vertical-align:middle;
  font-size: 13px;
  line-height: 1;
}

.stat-item__value {
    font-weight: 500;
    font-size: 14px;
    color: var(--bs-body-color);
}

.metric-card {
    width: calc(100% - 235px);
    margin: 0 0 0 16px;
}

.metric-card__title {
    margin: 0 0 16px 0;
    font-weight: 600;
}

.metric-card__content {
    display: flex;
    justify-content: space-between;
}

.metric-card-group {
    background-color: var(--bg-border-light);
    box-sizing: border-box;
    padding: 16px 16px;
    border-radius: 8px 8px;
    width: calc(25% - 10px);
}

.metric-card-group__title {
    font-size: 14px;
    line-height: 143%;
    color: var(--bs-body-color);
    margin: 0 0 10px 0;
    font-weight: 500;
}

.metric-card-group__value {
    font-size: 23px;
    line-height: 133%;
    color: var(--color-text);
    margin: 0 0 4px 0;
}

.metric-card-group__text {
    font-size: 12px;
    line-height: 133%;
    color: #6b7280;
    margin: 0 0 10px;
}

.metric-card-group__title--warm,
.metric-card-group__title--warm,
.metric-card-group__title--warm {
    color: var(--bs-danger);
}

.inteddactor {
    position: relative;
}
.inteddactor__track {
    width: 100%;
    height: 8px;
    border-radius: 100px;
    background-color: var(--bg-border);
}
.inteddactor__level {
    position: absolute;
    left: 0;
    height: 8px;
    border-radius: 100px;

}
